<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<link
			href="https://fonts.googleapis.com/css?family=Lato"
			rel="stylesheet"
		/>

		<div class="content">
			<div class="content__container">
				<p class="content__container__text">Hello</p>

				<ul class="content__container__list">
					<li class="content__container__list__item">world !</li>
					<li class="content__container__list__item">bob !</li>
					<li class="content__container__list__item">users !</li>
					<li class="content__container__list__item">everybody !</li>
				</ul>
			</div>
		</div>
	</body>
</html>
